body, html {
    width: 100%;
    height: var(--tg-viewport-height, 100vh); /* Використання змінної Telegram для висоти */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Вимкнути горизонтальний скрол */
    background-color: #000000; /* Темний фон */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}


.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Вирівнювання по центру */
    margin-bottom: 300px; /* Відступ від нижнього краю */
}


.footer-content img {
    width: 100%;
    max-width: 200px; /* Максимальна ширина зображення */
}
body, html {
    width: 100%;
    height: var(--tg-viewport-height, 100vh); /* Використання змінної Telegram для висоти */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Вимкнути горизонтальний скрол */
    background-color: #000000; /* Темний фон */
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Простір між елементами */
    align-items: center;
    height: var(--tg-viewport-height, 100vh); /* Використання висоти від Telegram */
    overflow-y: hidden; /* Вимкнути вертикальний скрол */
}

.task-item.completed {
    background-color: #1a1a1a; /* Темніший колір для завершеного завдання */
    color: #76c7c0; /* Колір тексту для завершеного завдання */
    border: 2px solid #76c7c0; /* Виділення рамкою завершеного завдання */
    cursor: default; /* Вказівник курсору */
}

.task-item.completed .task-icon {
    filter: grayscale(100%); /* Іконка стає сірою */
}


.container {
    text-align: center;
    padding: 10px;
    width: 90%; /* Зменшення ширини контейнера */
    max-width: 400px; /* Максимальна ширина */
    max-height: calc(var(--tg-viewport-height, 100vh) - 20px); /* Обмеження висоти контейнера з урахуванням відступу */
    overflow-y: hidden; /* Вимкнення вертикального скролу */
    margin: 10px;
    color: #fff; /* Білий текст */
    box-sizing: border-box;
    flex-grow: 1; /* Розширює контейнер */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Вирівнювання елементів внизу */
}


#butterflySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 150px; /* Розмір метелика */
    margin-bottom: 20px;
}

.button-group {
    display: flex; /* Розташування кнопок в ряд */
    justify-content: center; /* Центрування кнопок */
    align-items: center; /* Вирівнювання по центру */
    margin-top: 20px; /* Відступ від верхніх елементів */
    width: 100%; /* Займати всю ширину */
    flex-wrap: wrap; /* Переносити кнопки, якщо не вистачає місця */
}

.button {
    background-color: #007bff;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    font-weight: 500; /* Використання жирного шрифту */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px; /* Відступ між кнопками */
    flex-grow: 1; /* Дозволяє кнопкам розтягуватися рівномірно */
    max-width: 100px; /* Максимальна ширина кнопки */
    text-align: center;
    box-sizing: border-box;
}

.button:hover {
    background-color: #0056b3;
}

.progress-bar-container {
    display: flex;
    flex-direction: column; /* Розташування по вертикалі */
    align-items: center; /* Центрування контенту */
    width: 100%;
    margin: 10px 0;
}

.progress-bar {
    width: 90%; /* Збільшена ширина прогрес-бару */
    background-color: #3c3c3c; /* Темний фон прогрес-бару */
    border-radius: 5px;
    overflow: hidden;
}

#progress {
    height: 15px; /* Зменшена висота прогрес-бару */
    background-color: #007bff;
    width: 0;
    transition: width 0.5s;
}

.points-info {
    margin-top: 5px; /* Відступ від прогрес-бару */
    color: #ffffff; /* Жовтий колір для інформації поінтів */
    font-weight: bold;
    white-space: nowrap; /* Запобігання переносу тексту */
}

.user-info {
    display: flex;
    flex-direction: column; /* Розташування нікнейму та балансу в стовпчик */
    align-items: flex-start; /* Вирівнювання тексту по лівому краю */
    margin-left: 20px; /* Відступ від лівого краю */
    margin-bottom: 20px; /* Відступ від елементів нижче */
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    font-weight: 500; /* Використання жирного шрифту */
}

.user-info p {
    margin: 0;
    color: #ffffff; /* Жовтий колір тексту */
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    font-weight: 500; /* Використання жирного шрифту */
}

.task-list {
    text-align: left; /* Вирівнювання тексту по лівому краю */
}

.task-item {
    background-color: #333; /* Темний фон завдань */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    font-weight: 500; /* Використання жирного шрифту */
}

.task-item.loading {
    opacity: 0.6; /* Напівпрозорий для завантаження */
    cursor: not-allowed; /* Заборонений курсор */
}

.task-item.loading .task-points {
    display: none; /* Сховати поінти */
}

.task-item.loading .task-icon {
    margin-right: 5px;
}

.task-item.loading::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-top: 2px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.task-item.completed {
    background-color: #1a1a1a; /* Змінити колір для завершеного завдання */
    cursor: default; /* Змінити курсор */
}

.task-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.task-points {
    font-weight: bold;
    color: #FFD700; /* Жовтий колір для очок */
}

/* Медиа-запити для мобільних пристроїв */
@media (max-width: 600px) {
    body {
        flex-direction: column;
        height: var(--tg-viewport-height, 100vh); /* Забезпечення висоти для мобільних */
        overflow-y: hidden; /* Вимкнути скролл на мобільних */
    }

    .container {
        width: 100%;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        padding: 15px;
    }

    .button {
        font-size: 16px;
        padding: 12px;
        width: 100%;
    }

    h1, h2 {
        font-size: 24px;
        font-family: 'Roboto', 'Helvetica Neue', sans-serif;
        font-weight: 500; /* Використання жирного шрифту */
    }

    p {
        font-size: 18px;
        font-family: 'Roboto', 'Helvetica Neue', sans-serif;
        font-weight: 500; /* Використання жирного шрифту */
    }

    img {
        width: 80%;
        height: auto;
        margin: 10px 0;
    }

    .progress-bar {
        margin: 10px 0;
    }

    #progress {
        height: 25px;
    }

    .button-group {
        flex-direction: row-reverse; /* Горизонтальне розташування кнопок на мобільних пристроях */
        flex-wrap: nowrap; /* Вимкнути перенесення кнопок */
    }
}
/* 123
