body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    margin-top: 50px;
    color: white;
}

h1 {
    color: white;
    font-size: 24px; /* Зменшено розмір шрифту для мобільних */
}

.button {
    display: inline-block;
    width: 15%; /* Збільшено ширину для кнопок на мобільних */
    padding: 15px;
    margin: 100px 0; /* Відступи зверху та знизу для кращого розміщення на мобільних */
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px; /* Збільшено розмір тексту для легшого натискання */
}

.button:hover {
    background-color: #0056b3;
}

img {
    width: 100px; /* Зменшено розмір зображення для мобільних */
    height: auto;
    margin-bottom: 430px; /* Відступ знизу для кращого відображення на мобільних */
}

/* Мобільна адаптація */
@media (max-width: 768px) {
    .container {
        padding: 15px;
        margin-top: 30px;
    }

    h1 {
        font-size: 20px; /* Ще менший розмір для менших екранів */
    }

    .button {
        font-size: 14px; /* Зменшено текст на кнопках */
        padding: 10px;
    }

    img {
        width: 80px; /* Зменшено розмір зображення для малих екранів */
    }
}
